/* #d1{
    margin: 200px;
    width: 300px;
    height: 300px;
    margin-left: 500px;
    margin-top: 150px;
    color: rgb(4, 195, 224);
    box-shadow: 0px 0px 5px 5px white;

}
body{
    background: linear-gradient(120deg,blue,red);
} */

nav{
    background-color: cadetblue;
    color: burlywood;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border-radius: 20px;
}
.brand{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.menu{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
li{
    padding: 10px;
}
li a{
    color: white;
    text-decoration: none; 
}
li a:hover{
    color: chocolate;
    transition: 1s;
    padding: 5px;
}
.menu-google{
    display: none;
}
.menu-icon{
    display: none;
    font-size: 20pt;
    cursor:pointer;
}
/* Mobile mode */
@media(max-width:700px){
    .menu{
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .menu-icon{
        display:block ;
    }
    .menu-google:checked+.menu-icon+.menu{
        display: flex;
    }
    li{
        padding:10px;
    }
}
.book-gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.book1 img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 8px gray;
    justify-content: center;
}
.book1 button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px;
   
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    margin-top: 150px;
    width: 100px;
    
}
.book1 button:hover{
    background-color:#032448 ;
    color: white;
    transition: 1s;
}
.book1 img:hover{
    transform:scale(1.1);
    transition: 1s;
    box-shadow: 0px 0px 5px 5px gray;
}